<!DOCTYPE html>
<html>
<head>
  <title>ReactRails</title>
  <script src="http://localhost:35730/livereload.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="root"></div>
<%= yield %>
<script src="/built/bundle.js"></script>
</body>
</html>
